:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: grid;
  grid-template: 'main' 1fr / minmax(0, 100vw);
  padding: 1rem;
}
footer {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem 1rem;
}
