<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> sc1zox</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="menu-container">
    <button [routerLink]="['home']" matButton>Home</button>
    <!--<button [routerLink]="['dashboard']" matButton>Dashboard</button>-->
    <button [routerLink]="['courses']" matButton>Courses</button>
    <button [routerLink]="['analytics']" matButton>Analytics</button>
    <button [routerLink]="['arena']" matButton>Arena</button>
  </div>
</mat-expansion-panel>
