<div class="progress-container">
  <h2>Progress</h2>
  <p>{{ totalCurrentEcts() }} / {{ maxEcts }}</p>
  <app-progress [completionPercentage]="completionPercentage()"></app-progress>
</div>
<div class="border"></div>
<div class="chart-container">
  <app-average-grade-display [averageGrade]="averageGrade()"></app-average-grade-display>
  <app-grade-achievement [requiredGradesForTargets]="requiredGradesForTargets()"></app-grade-achievement>
  <app-bar-chart [gradeOccurrence]="gradeOccurrence()"></app-bar-chart>
  <app-pie-chart [gradeOccurrence]="gradeOccurrence()"></app-pie-chart>
</div>
