.chart-container {
  padding-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  row-gap: 15rem;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.progress-container {
  margin: 50px 0;
  text-align: center;
}

.border {
  border-bottom: black solid 1px;
}

@media (max-width: 600px) {
  .chart-container {
    grid-template-columns: 1fr;
    row-gap: 5rem;
    padding-top: 5rem;
  }
}
