<div class="form-wrapper">
  <button (click)="deleteCourse()" color="primary" matMiniFab>
    <mat-icon fontIcon="delete"></mat-icon>
  </button>
  <form [formGroup]="courseForm" class="course-form">
    <mat-form-field appearance="fill">
      <mat-label>Code</mat-label>
      <input formControlName="code" matInput/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Grade</mat-label>
      <input formControlName="grade" matInput type="number"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Section</mat-label>
      <mat-select formControlName="section">
        @for (option of sectionOptions(); track sectionOptions()) {
          <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>ECTS</mat-label>
      <input formControlName="ects" matInput type="number"/>
    </mat-form-field>
  </form>
</div>
